// Include functions first
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.callout {
  @extend .px-3;
  @extend .overflow-hidden;

  @extend .border;
  @extend .border-4;
  @extend .border-top-0;
  @extend .border-bottom-0;
  @extend .border-end-0;

  .callout-title {
    @extend .mb-1;

    svg.octicon {
      @extend .me-1;
      margin-top: -0.2em;
      width: 1em;
      height: 1em;
    }
  }

  &.callout-danger, &.callout-caution {
    @extend .border-danger;

    .callout-title {
      @extend .text-danger;

      svg.octicon {
        fill: rgba(var(--bs-danger-rgb), var(--bs-text-opacity));
      }
    }
  }

  &.callout-warning {
    @extend .border-warning;

    .callout-title {
      @extend .text-warning;

      svg.octicon {
        fill: rgba(var(--bs-warning-rgb), var(--bs-text-opacity));
      }
    }
  }

  &.callout-important {
    border-color: $purple-400 !important;

    .callout-title {
      color: $purple-400 !important;

      svg.octicon {
        fill: $purple-400;
      }
    }
  }

  &.callout-note {
    @extend .border-info;

    .callout-title {
      @extend .text-info;

      svg.octicon {
        fill: rgba(var(--bs-info-rgb), var(--bs-text-opacity));
      }
    }
  }

  &.callout-success, &.callout-tip {
    @extend .border-success;

    .callout-title {
      @extend .text-success;

      svg.octicon {
        fill: rgba(var(--bs-success-rgb), var(--bs-text-opacity));
      }
    }
  }

}

.callout-title {
  @extend .mt-2;
  @extend .fw-bold;
}
