@import "@fontsource/orbitron/900";

h1.rootmytv {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color: #000;
  font-size: 4em;
  text-shadow: 0 0 3px #d4ffff, 0 0 3px #d4ffff, 0 0 3px #d4ffff, 0 0 1em #0bb6be, 0 0 0.2em #0bb6be;

  sup {
    text-shadow: 0 0px 2px white, 0 0px 2px white, 0 0 0.4em #731178, 0 2px 0.2em pink, 0 -3px 0.2em #aa0000;
  }
}