{{#*inline "content"}}
  <link href="caniroot.scss" rel="stylesheet">
  <h1 class="text-center my-5 rootmytv">CanI.RootMy.TV<span class="small question">?</span></h1>
  <div id="caniroot" class="mb-5"></div>
  <script src="caniroot.ts"></script>
{{/inline}}
{{> page title="Can I root my TV?" }}