{{#*inline "content"}}
  <link href="app.scss" rel="stylesheet">
  <h1 class="text-center my-5 rootmytv">CanI.RootMy.TV<sup> α</sup></h1>
  <div id="app-container" class="mb-5"></div>
  <script src="app.ts"></script>
    {{/inline}}
{{> page title="Can I root my TV?" }}