@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";


main.page {
  img {
    max-width: 100%;
  }

  @import "sidebar";
  @import "toc";


  article.page-container {
    width: 100%;

    &.with-toc {
      @include media-breakpoint-up(md) {
        display: grid;
        grid-template-areas: "intro toc" "content toc";
        grid-template-rows: auto 1fr;
        grid-template-columns: 3fr 1fr;

        .page-intro {
          grid-area: intro;
        }

        .page-toc {
          grid-area: toc;

          height: min-content;

          position: sticky;
          top: calc(1.5rem + var(--navbar-height));
        }

        .page-content {
          grid-area: content;
        }
      }
    }

  }

  @include media-breakpoint-up(md) {
    & {
      display: flex;
      flex-flow: row;
      align-items: start;
    }

    aside.toc {
      width: 25%;
      height: 100%;

      min-width: unset;

      position: sticky;
      top: calc(1.5rem + var(--navbar-height));

      display: block;
      background-color: unset;
      border: unset;
    }
  }

}
