@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";


main .page {

  @import "sidebar";
  @import "toc";

  .hljs {
    background-color: var(--code-bg);
    @extend .border;
    @extend .rounded-3;
  }

  .tabbed-code-blocks {
    .hljs {
      background: none !important;
      @extend .border-0;
      @extend .rounded-0;
    }

    .tab-content {
      background-color: var(--code-bg) !important;
    }
  }

  article.page-container {
    width: 100%;

    &.with-toc {
      @include media-breakpoint-up(md) {
        display: grid;
        grid-template-areas: "sb-toggle toc" "intro toc" "content toc";
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 3fr 1fr;

        .page-intro {
          grid-area: intro;
        }

        .page-toc {
          grid-area: toc;

          height: min-content;

          position: sticky;
          top: calc(1.5rem + var(--navbar-height));
        }

        .page-content {
          grid-area: content;
          overflow-x: hidden;
        }
      }
    }

  }

  @include media-breakpoint-up(md) {
    & {
      display: flex;
      flex-flow: row;
      align-items: start;
    }
  }

}
