@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

aside.sidebar {
  @extend .py-lg-3;
  @extend .ms-lg-3;

  width: min(300px, 80vw);

  .sidebar-content > ul, ol {

    @extend .ms-lg-n4;

    > li {
      @extend .fw-semibold;

      ul, ol {
        @extend .small;
        @extend .fw-normal;
      }
    }
  }

  li {
    @extend .mt-1;
    list-style: none;

    i.bi {
      @extend .ms-n4;
      @extend .me-2;
      @extend .text-primary-emphasis;
    }

    li {
      @extend .text-secondary;
    }

    line-height: 1.75;

    > a {
      display: block;
      max-width: fit-content;
      text-decoration: none;
      @extend .px-2;
      @extend .mx-n2;

      @extend .text-body;
      @extend .rounded;

      &:hover {
        @extend .text-body;
        @extend .text-bg-primary;
      }

      &.active {
        @extend .text-body-emphasis;
        @extend .text-bg-primary;
        @extend .fw-semibold;
      }
    }

    ul, ol {
      padding-left: 0;
      padding-right: 0;
      list-style: none;
    }
  }

  @include media-breakpoint-up(lg) {
    display: block;
    width: max(192px, 25%);
    height: min-content;

    min-width: unset;

    position: sticky;
    top: var(--navbar-height);
  }

  @include media-breakpoint-up(xl) {
    width: 25%;
  }
}