{{#> page title="Table of Hardware"}}
  <link href="toh.scss" rel="stylesheet">
  <h1>Table of Hardware</h1>
  <p class="lead">Find hardware info of webOS TV</p>
  <div id="app-container"></div>
  <script src="toh.ts" type="module"></script>
{{/page}}