.search-section {
  [data-bs-toggle] {
    //noinspection CssNoGenericFontName
    &::after {
      font-family: bootstrap-icons !important;
      content: '\f27d' /* bi-chevron-contract */;
    }

    &.collapsed::after {
      content: '\f283' /* bi-chevron-bar-expand */;
    }
  }
}

.pagination .page-item.form-select {
  max-width: min-content;
}

.aside {
  width: 100%;
}

table.toh {
  td.model {
    min-width: 8em;
  }
}