@import "../../scss/styles";


.toh-app {
  grid-template-areas: "table search" "table empty" "pagination empty";
  grid-template-rows: auto auto auto;
  grid-template-columns: 3fr 1fr;

  > .table-responsive {
    grid-area: table;
  }

  > aside {
    grid-area: search;
    max-height: min-content;

    @extend .border;
    @extend .rounded;

    @include media-breakpoint-up(md) {
      border-radius: 0 !important;
      border: none !important;
    }
  }

  > nav {
    grid-area: pagination;
  }
}

.search-section {
  [data-bs-toggle] {
    //noinspection CssNoGenericFontName
    &::before {
      display: inline-block;
      transition: all 300ms 0s ease-in-out;

      font-family: bootstrap-icons !important;
      content: '\f282'; /* bi-chevron-down */
      font-size: 0.8em;
      margin-inline-end: 0.5em;
    }

    &.collapsed::before {
      transform: rotate(-90deg);
    }
  }

  .list-container {
    max-height: 240px;
  }
}

.pagination .page-item.form-select {
  max-width: min-content;
}

.aside {
  width: 100%;
}

table.toh {
  td.model {
    min-width: 8em;
  }
}