.search-section {
  [data-bs-toggle] {
    &::after {
      content: '-';
    }

    &.collapsed::after {
      content: '+';
    }
  }
}

.pagination .page-item.form-select {
  max-width: min-content;
}