<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home | webOS Homebrew</title>
  <link href="index.scss" rel="stylesheet">
  <link href="bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="/img/hbchannel-color.svg" type="image/svg" rel="icon">
</head>
<body data-bs-theme="dark">
{{> navbar }}
<main class="landing">
  <div class="headline bg-dark-subtle px-2 py-4 d-flex flex-column align-items-center">
    <div class="position-relative w-100 d-flex">
      <div class="position-relative mx-auto">
        <canvas class="tv-amblight" width="32" height="18"></canvas>
        <div class="tv-container mx-auto">
          <div class="tv-screen">
            <div id="tv-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel"
                 data-bs-interval="5000">
              <div class="carousel-inner">
                <div class="carousel-item active" data-item-id="hbchannel">
                  <picture>
                    <source srcset="/img/screenshots/hbchannel.png?as=avif" type="image/avif">
                    <source srcset="/img/screenshots/hbchannel.png?as=webp" type="image/webp">
                    <img src="/img/screenshots/hbchannel.png" class="d-block w-100" alt="Homebrew Channel">
                  </picture>
                </div>
                <div class="carousel-item" data-item-id="retroarch">
                  <picture>
                    <source srcset="/img/screenshots/retroarch.png?as=avif" type="image/avif">
                    <source srcset="/img/screenshots/retroarch.png?as=webp" type="image/webp">
                    <img src="/img/screenshots/retroarch.png" class="d-block w-100" alt="RetroArch">
                  </picture>
                </div>
                <div class="carousel-item" data-item-id="moonlight">
                  <picture>
                    <source srcset="/img/screenshots/moonlight.png?as=avif" type="image/avif">
                    <source srcset="/img/screenshots/moonlight.png?as=webp" type="image/webp">
                    <img src="/img/screenshots/moonlight.png" class="d-block w-100" alt="Moonlight">
                  </picture>
                </div>
                <div class="carousel-item" data-item-id="kodi">
                  <picture>
                    <source srcset="/img/screenshots/kodi-recently-added.jpg?as=avif" type="image/avif">
                    <source srcset="/img/screenshots/kodi-recently-added.jpg?as=webp" type="image/webp">
                    <img src="/img/screenshots/kodi-recently-added.jpg" class="d-block w-100" alt="Kodi">
                  </picture>
                </div>
                <div class="carousel-item" data-item-id="amblight">
                  <video class="d-block w-100 amblight-src" muted loop preload="auto">
                    <source src="/img/screenshots/borealis_av1.webm" type="video/webm; codecs=av01.0.05M.08"/>
                    <source src="/img/screenshots/borealis.mp4" type="video/mp4"/>
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev d-none d-sm-block" type="button" data-bs-target="#tv-carousel"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon me-sm-5" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next d-none d-sm-block" type="button" data-bs-target="#tv-carousel"
              data-bs-slide="next">
        <span class="carousel-control-next-icon ms-sm-5" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="mt-4 text-end">
      <h2 class="headline-title fw-light text-nowrap">
        <span class="feature hbchannel active">More apps</span>
        <span class="feature kodi" translate="no">Kodi</span>
        <span class="feature retroarch" translate="no">RetroArch</span>
        <span class="feature moonlight" translate="no">Moonlight</span>
        <span class="feature amblight" translate="no">Ambient light</span>
        for <span class="webos web">web</span><span class="webos os">OS</span> TV
      </h2>
    </div>
  </div>

  <section id="apps" class="container-lg py-5">
    <h2 class="text-center">Apps &amp; Games</h2>
    <div class="row g-3 mt-5">
      <div class="apps-showcase col-12">
        <div class="py-4 px-0 rounded-4 bg-dark-subtle position-relative">
          <div class="marquee w-auto mt-3" data-mc-duration="60" role="marquee" translate="no">
            <div class="d-flex flex-row">
              <div class="card app-item d-flex flex-row mx-2 p-3 border-0 align-items-center bg-webosbrew">
                <img src="/img/app-icons/org.webosbrew.hbchannel.png" class="app-icon" alt="Homebrew Channel">
                <a class="stretched-link text-decoration-none flex-fill ms-3 text-white"
                   href="https://github.com/webosbrew/webos-homebrew-channel" target="_blank">
                  <h5 class="card-title my-0">Homebrew Channel</h5></a>
              </div>
              <div class="card app-item d-flex flex-row mx-2 p-3 border-0 align-items-center"
                   style="background-color: #ffffff">
                <img src="/img/app-icons/org.xbmc.kodi.png" class="app-icon" alt="Kodi">
                <a class="stretched-link text-decoration-none flex-fill ms-3 text-black"
                   href="https://kodi.tv/" target="_blank">
                  <h5 class="card-title my-0">Kodi</h5>
                </a>
              </div>
              <div class="card app-item d-flex flex-row mx-2 p-3 border-0 align-items-center bg-black">
                <img src="/img/app-icons/org.webosbrew.hyperion.ng.loader.png" class="app-icon" alt="Hyperion.NG">
                <a class="stretched-link text-decoration-none flex-fill ms-3 text-white"
                   href="https://hyperion-project.org/" target="_blank">
                  <h5 class="card-title my-0">Hyperion.NG</h5>
                </a>
              </div>
              <div class="card app-item d-flex flex-row mx-2 p-3 border-0 align-items-center"
                   style="background-color: #ffb80d">
                <img src="/img/app-icons/org.webosbrew.vncserver.png" class="app-icon" alt="VNC Server">
                <a class="stretched-link text-decoration-none flex-fill ms-3 text-black"
                   href="https://github.com/Informatic/webos-vncserver" target="_blank">
                  <h5 class="card-title my-0">VNC Server</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="marquee w-auto mt-3" data-mc-duration="60" data-mc-direction="ltr" role="marquee" translate="no">
            <div class="d-flex flex-row">
              <div class="card app-item d-flex flex-row mx-2 p-3 border-0 align-items-center bg-white">
                <img src="/img/app-icons/com.limelight.webos.png" class="app-icon" alt="Moonlight">
                <a class="stretched-link text-decoration-none flex-fill ms-3 text-black"
                   href="https://moonlight-stream.org/" target="_blank">
                  <h5 class="card-title my-0">Moonlight</h5>
                </a>
              </div>
              <div class="card app-item d-flex flex-row mx-2 p-3 border-0 align-items-center"
                   style="background-color: #58598a">
                <img src="/img/app-icons/com.retroarch.png" class="app-icon" alt="RetroArch">
                <a class="stretched-link text-decoration-none flex-fill ms-3 text-white"
                   href="https://retroarch.com/" target="_blank">
                  <h5 class="card-title my-0">RetroArch</h5>
                </a>
              </div>
              <div class="card app-item d-flex flex-row mx-2 p-3 border-0 align-items-center"
                   style="background-color: #8b0000">
                <img src="/img/app-icons/org.chocolate-doom.demo.png" class="app-icon" alt="Chocolate Doom">
                <a class="stretched-link text-decoration-none flex-fill ms-3 text-white"
                   href="https://www.chocolate-doom.org/" target="_blank">
                  <h5 class="card-title my-0">Chocolate Doom</h5>
                </a>
              </div>
              <div class="card app-item d-flex flex-row mx-2 p-3 border-0 align-items-center"
                   style="background-color: #000000">
                <img src="/img/app-icons/com.github.k4zmu2a.space-cadet-pinball.png" class="app-icon"
                     alt="3D Pinball: Space Cadet">
                <a class="stretched-link text-decoration-none flex-fill ms-3 text-white"
                   href="https://github.com/webosbrew/SpaceCadetPinball" target="_blank">
                  <h5 class="card-title my-0">3D Pinball: Space Cadet</h5>
                </a>
              </div>
            </div>
          </div>

          <h3 class="ps-4 position-absolute top-0 bottom-0 align-content-center pointer-events-none">
            <img src="/img/app-icons/org.xbmc.kodi.png" class="app-icon me-2" alt="Kodi icon"/><span
              translate="no">Kodi</span> <br>
            <img src="/img/app-icons/com.limelight.webos.png" class="app-icon me-2" alt="Moonlight icon"/><span
              translate="no">Moonlight</span>
            <br>
            <img src="/img/app-icons/com.retroarch.png" class="app-icon me-2" alt="RetroArch icon"/><span
              translate="no">RetroArch</span>
            <br>
            And ✨more✨
            <br>
            Coming to your webOS TV.
          </h3>
        </div>
      </div>
      <div class="col-md-6 aspect-ratio-3by2">
        <a class="card border-0 px-4 pt-4 rounded-4 d-flex flex-column h-100 bg-hbchannel overflow-hidden text-decoration-none"
           href="https://repo.webosbrew.org/apps/org.webosbrew.hbchannel">
          <h3 class="flex-fill">Meet Homebrew Channel</h3>
          <p>Discover and install apps with ease.</p>
          <div class="mt-2 tv-container shadow shadow-lg">
            <picture>
              <source srcset="/img/screenshots/hbchannel.png?as=avif" type="image/avif">
              <source srcset="/img/screenshots/hbchannel.png?as=webp" type="image/webp">
              <img class="tv-screen w-100" src="/img/screenshots/hbchannel.png" alt="Homebrew Channel app"/>
            </picture>
          </div>
        </a>
      </div>
      <div class="col-md-6 aspect-ratio-md-3by2">
        <div class="card border-0 p-4 rounded-4 d-flex flex-column justify-content-end h-100 bg-dark-subtle">
          <h3 class="card-title">
            Setup with a few steps,<br>
            safe and simple.<br>
          </h3>
          <a class="text-decoration-none text-primary-emphasis stretched-link h4" href="#get-started">Get started<i
              class="bi bi-chevron-double-right small"></i></a>
        </div>
      </div>
    </div>
  </section>

  <div class="py-3 bg-dark-subtle"></div>

  <section id="mods" class="container-lg py-5">
    <h2 class="text-center">Gain More Control</h2>
    <div class="row g-3 mt-5">
      <div class="col-sm-6 aspect-ratio-3by2">
        <div
            class="card border-0 rounded-4 h-100 bg-dark-subtle d-flex flex-column justify-content-end overflow-hidden">
          <picture>
            <source srcset="/img/screenshots/aerial-screensaver.png?as=avif" type="image/avif">
            <source srcset="/img/screenshots/aerial-screensaver.png?as=webp" type="image/webp">
            <img class="card-img-top object-fit-cover" src="/img/screenshots/aerial-screensaver.png"
                 alt="Screensaver"/>
          </picture>
          <div class="card-body px-4">
            <h3 class="card-title">Screensavers</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 aspect-ratio-3by2">
        <div class="card border-0 rounded-4 h-100 bg-dark-subtle overflow-hidden">
          <picture>
            <source srcset="/img/photos/amblight-setup.jpg?as=avif&width=640&height=auto,
              /img/photos/amblight-setup.jpg?as=avif&width=1280&height=auto 2x" type="image/avif">
            <source srcset="/img/photos/amblight-setup.jpg?as=webp&width=640&height=auto,
              /img/photos/amblight-setup.jpg?as=webp&width=1280&height=auto 2x" type="image/webp">
            <img class="card-img object-fit-cover" src="/img/photos/amblight-setup.jpg?width=640" alt="Amblight setup"/>
          </picture>
          <div class="card-img-overlay p-4">
            <h3 class="card-title">Ambient light</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <small class="text-body-tertiary">Mods are available for rooted TVs only.</small>
    </div>
  </section>

  <div class="py-3 bg-dark-subtle"></div>

  <section id="get-started" class="container-lg py-5">
    <h2 class="text-center">Get Started</h2>
    <div class="row g-3 mt-5">
      <div class="col-md-6">
        <div class="position-relative h-100 rounded-4 p-4 bg-hbchannel">
          <img src="/img/icon32.svg?inline" width="48" height="48"
               class="position-absolute bottom-0 end-0 me-2 mb-2 opacity-75" alt="webOS Homebrew"/>
          <h5 class="card-title text-white">Root your TV</h5>
          <p class="card-text text-white opacity-75">
            Jailbreak your TV and install Homebrew Channel.
            <br>
            Gain more control over your TV.
          </p>
          <a class="stretched-link card-link text-white-50" href="/rooting">
            Read tutorial
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="position-relative h-100 rounded-4 p-4 bg-devmode">
          <img src="/img/devmode32.svg" width="48" height="48"
               class="position-absolute bottom-0 end-0 me-2 mb-2 opacity-75" alt="Dev Mode"/>
          <h5 class="card-title text-white">Install via Dev Mode</h5>
          <p class="card-text text-white opacity-75">
            Install apps and games via Developer Mode.
            <br>
            No root required.
          </p>
          <a class="stretched-link card-link text-white-50" href="/devmode">
            Read tutorial
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="py-3 bg-dark-subtle"></div>

  <section id="devman" class="container-lg py-5">
    <div class="card border-0 rounded-4 p-4 bg-devman overflow-hidden">
      <div class="row mx-0">
        <div class="col-md-6 ps-0 pe-0 pe-md-3 pb-4">
          <h3 class="card-title">Manage your TV with your computer and smartphone</h3>
          <a class="stretched-link text-decoration-none h4 opacity-75"
             href="https://github.com/webosbrew/dev-manager-desktop">
            More info<i class="bi bi-chevron-double-right small"></i></a>
        </div>
        <div class="col-md-6 devman-screenshot">
          <picture>
            <source srcset="/img/screenshots/devman.png?as=avif" type="image/avif">
            <source srcset="/img/screenshots/devman.png?as=webp" type="image/webp">
            <img class="w-100" src="/img/screenshots/devman.png" alt="DevMan for webOS"/>
          </picture>
        </div>
      </div>
    </div>
  </section>

  <div class="py-3 bg-dark-subtle"></div>

  <section id="contribute" class="container-lg py-5">
    <h2 class="text-center">Contribute</h2>
    <div class="row g-3 mt-5 align-items-stretch">
      <div class="col-sm-6 col-md-3">
        <div class="card card-body rounded-4 bg-dark-subtle h-100">
          <i class="bi bi-tools text-secondary-emphasis"></i>
          <a class="stretched-link text-body-emphasis text-decoration-none" href="/develop">Build apps &amp; mods</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-body rounded-4 bg-dark-subtle h-100">
          <i class="bi bi-pencil-fill text-blue-500"></i>
          <a class="stretched-link text-body-emphasis text-decoration-none" href="/develop/guides/docs-syntax">
            Edit documentation
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-body rounded-4 bg-dark-subtle h-100">
          <i class="bi bi-lightbulb-fill text-yellow-500"></i>
          <a class="stretched-link text-body-emphasis text-decoration-none"
             href="https://github.com/webosbrew/apps-repo/issues/new/choose">Suggest an idea</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-body rounded-4 bg-dark-subtle h-100">
          <i class="bi bi-heart-fill text-pink-500"></i>
          <a class="stretched-link text-body-emphasis text-decoration-none" href="/donate">Donate</a>
        </div>
      </div>
    </div>
  </section>


</main>
{{> footer }}
<script src="index.js" async></script>
</body>
</html>
