{{#*inline "content"}}
  <h1>Dev Mode</h1>
  <p class="lead">
    Use officially supported development mode to install homebrew apps and games.
  </p>
  {{> rooted-vs-devmode }}
{{/inline}}
{{> page title="Dev Mode" }}