{{#*inline "content"}}
  <h1>Dev Mode</h1>
  <p class="lead">
    Use officially supported development mode to install homebrew apps and games.
  </p>
  {{> rooted-vs-devmode }}
  <h2>Prerequisites</h2>
  <hr>
  <h2>Get started</h2>
  <hr>
  <h3>Get a Developer Account</h3>
  <p>
    You'll need a developer account to use Developer Mode.
    Please read <a href="https://webostv.developer.lge.com/develop/getting-started/preparing-lg-account">
    Preparing LG Account</a> for creating one.
  </p>
  <h3>Install Developer Mode App</h3>
  <ol>
    <li>Open LG Content Store</li>
    <li>Search for "Developer Mode"</li>
    <li>Select "Install"</li>
  </ol>
  <h3>Enable Developer Mode</h3>
  <ol>
    <li>Launch Developer Mode app</li>
    <li>Login to Developer Mode app with developer account</li>
    <li>Enable Developer Mode and wait for TV to restart</li>
  </ol>
  <h3>Prepare for Device Setup</h3>
  <ol>
    <li>Launch Developer Mode app again</li>
    <li>Ensure "Dev Mode Status" is ON</li>
    <li>Enable Key Server
      <i class="bi bi-question-circle-fill" data-bs-toggle="tooltip"
         data-bs-title="Key Server is used when you add TV to your computer"></i>
    </li>
  </ol>
  <h2>Important Notes</h2>
  <hr>
  <ul>
    <li>Developer Mode has a time limit of 1000 hours. Once expired, apps installed via Developer Mode will be removed.
      You can reset the timer in the Developer Mode app.
    </li>
    <li>
      You can only log in to one TV at a time with the same developer account. If you log in to another TV, the previous
      TV will be logged out, disabling Developer Mode.
    </li>
    <li>
      When you add the TV to webOS Dev Manager, the IP you use may change. To prevent this, you can set a static IP for
      your TV.
    </li>
  </ul>
{{/inline}}
{{> page title="Dev Mode" }}