<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}} | webOS Homebrew</title>
  <link href="@styles/styles.scss" rel="stylesheet">
  <link href="@img/hbchannel-color.svg" type="image/svg" rel="icon">
</head>
<body data-bs-theme="dark">
{{> navbar }}
<main class="bg-dark-subtle">
  <div class="container py-4">
    {{> content}}
  </div>
</main>
{{> footer }}
</body>
{{#script}}
  <script src="{{this}}"></script>
{{/script}}
</html>
