<h2>Rooted vs Dev Mode</h2>
<hr>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Use Case</th>
      <th class="text-center">Rooted</th>
      <th class="text-center">Dev Mode</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Use apps like Kodi, Moonlight, etc.</th>
      <td>✅</td>
      <td>✅</td>
    </tr>
    <tr>
      <th>Manage apps with <a href="https://github.com/webosbrew/dev-manager-desktop">Dev Manager</a></th>
      <td>✅</td>
      <td>✅</td>
    </tr>
    <tr>
      <th>No need for renewing developer mode per 1000 hours</th>
      <td>✅</td>
      <td>❌</td>
    </tr>
    <tr>
      <th>Ambient light setup with <a href="https://github.com/TBSniller/piccap">PicCap</a>/<a
          href="https://github.com/webosbrew/hyperion-webos">Hyperion</a>/<a
          href="https://github.com/webosbrew/hyperhdr-webos-loader">HyperHDR</a></th>
      <td>✅</td>
      <td>❌</td>
    </tr>
    <tr>
      <th>Change screensaver, wallpaper, etc.</th>
      <td>✅</td>
      <td>❌</td>
    </tr>
    <tr>
      <th>Remapping remote control buttons</th>
      <td>✅</td>
      <td>❌</td>
    </tr>
    </tbody>
  </table>
</div>