<footer class="py-5 bg-body-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <img class="logo" width="32" height="32" src="/img/icon32.svg" alt="webOS Homebrew">
        <small class="d-block mb-3 text-body-secondary" translate="no">© 2020-2025</small>
      </div>
      <div class="col-6 col-md">
        <h5>Guides</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="/rooting">Rooting</a></li>
          <li><a class="link-secondary text-decoration-none" href="/devmode">Dev Mode</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="/develop">Develop</a></li>
          <li><a class="link-secondary text-decoration-none" href="/toh">Table of Hardware</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Links</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="https://github.com/webosbrew/">
            <i class="bi bi-github me-2"></i>webosbrew</a></li>
          <li><a class="link-secondary text-decoration-none" href="https://github.com/OpenLGTV">
            <i class="bi bi-github me-2"></i>OpenLGTV</a></li>
          <li><a class="link-secondary text-decoration-none" href="https://discord.gg/xWqRVEm">
            <i class="bi bi-discord me-2"></i>Discord</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>