<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img class="bi" width="32" height="32" src="/img/icon32.svg" alt="webOS Homebrew">
      <small class="d-block mb-3 text-body-secondary" translate="no">© 2020–2024</small>
    </div>
    <div class="col-6 col-md">
      <h5>Guides</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="/rooting">Rooting</a></li>
        <li><a class="link-secondary text-decoration-none" href="/devmode">Dev Mode</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="/develop">Develop</a></li>
        <li><a class="link-secondary text-decoration-none" href="/toh">Table of Hardware</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Links</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="https://github.com/webosbrew/">
          <i class="bi bi-github me-2"></i>webosbrew on GitHub</a></li>
        <li><a class="link-secondary text-decoration-none" href="https://github.com/OpenLGTV">
          <i class="bi bi-github me-2"></i>OpenLGTV on GitHub</a></li>
        <li><a class="link-secondary text-decoration-none" href="https://discord.gg/xWqRVEm">
          <i class="bi bi-discord me-2"></i>openlgtv</a>
        </li>
      </ul>
    </div>
  </div>
</footer>