<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}} | webOS Homebrew</title>
  <link href="bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="/scss/styles.scss" rel="stylesheet">
  <link href="/img/hbchannel-color.svg" type="image/svg" rel="icon">
</head>
<body data-bs-theme="dark" data-bs-spy="scroll" data-bs-target="#page-toc" data-bs-smooth-scroll="false"
      data-bs-root-margin="-65px 0px -90%" data-bs-threshold="[0]">
{{> navbar }}
<main class="bg-dark-subtle page">
  {{#if sidebar}}
    <aside class="sidebar">
      {{{sidebar}}}
      <div class="vr position-absolute h-100 top-0 end-0 d-md-block d-none"></div>
    </aside>
  {{/if}}
  <div class="page-container container py-4">
    <article {{#if toc}}class="with-toc"{{/if}}>
      {{> @partial-block }}
    </article>
  </div>
</main>
{{> footer }}
</body>
<script src="/js/page.js"></script>
</html>
