<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}} | webOS Homebrew</title>
  <link href="bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="/scss/styles.scss" rel="stylesheet">
  <link href="/img/hbchannel-color.svg" type="image/svg" rel="icon">
</head>
<body data-bs-theme="dark">
{{> navbar }}
<main class="bg-dark-subtle page">
  <div class="page-content container py-4">
    <article data-bs-spy="scroll" data-bs-target="#page-toc" data-bs-smooth-scroll="true"
             data-bs-root-margin="-20% 0px 80%">
      {{> @partial-block }}
    </article>
    {{#toc}}
      {{> page-toc items=children }}
    {{/toc}}
  </div>
</main>
{{> footer }}
</body>
<script src="/js/page.js"></script>
</html>
