<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}} | webOS Homebrew</title>
  <link href="bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="/scss/styles.scss" rel="stylesheet">
  <link href="/img/hbchannel-color.svg" type="image/svg" rel="icon">
</head>
<body data-bs-theme="dark" data-bs-spy="scroll" data-bs-target="#toc-nav">
{{> navbar }}
<main class="bg-dark-subtle">
  <div class="page container">
    {{#if sidebar}}
      <aside id="page-sidebar" class="sidebar pe-2 offcanvas-lg offcanvas-start">
        <div class="sidebar-content offcanvas-body">
          {{{sidebar}}}
        </div>
      </aside>
    {{/if}}
    <article class="page-container py-4 {{#if toc}}with-toc{{/if}}">
      {{#if sidebar}}
        <div class="page-sidebar-toggle d-lg-none">
          <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#page-sidebar">
            <i class="bi bi-list"></i> Pages
          </button>
        </div>
      {{/if}}
      {{> @partial-block }}
    </article>
  </div>
</main>
{{> footer }}
</body>
<script src="/js/page.js"></script>
</html>
