<style>
    table.rooted-vs-devmode tbody td {
        text-align: center;
    }
</style>
<h2>Rooted vs Dev Mode</h2>
<hr>
<div class="table-responsive">
  <table class="table table-hover rooted-vs-devmode">
    <thead>
    <tr>
      <th>Use Case</th>
      <th class="text-center">Rooted</th>
      <th class="text-center">Dev Mode</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Use apps like Kodi, Moonlight, etc.</th>
      <td>✅</td>
      <td>✅</td>
    </tr>
    <tr>
      <th>Manage apps with <a href="https://github.com/webosbrew/dev-manager-desktop">Dev Manager</a></th>
      <td>✅</td>
      <td>✅</td>
    </tr>
    <tr>
      <th>No need for renewing developer mode per 1000 hours</th>
      <td>✅</td>
      <td><a class="text-decoration-none" href="#dev-timer-renew">ℹ️<sup>1</sup></a></td>
    </tr>
    <tr>
      <th>Ambient light setup with <a href="https://github.com/TBSniller/piccap">PicCap</a>/<a
          href="https://github.com/webosbrew/hyperion-webos">Hyperion</a>/<a
          href="https://github.com/webosbrew/hyperhdr-webos-loader">HyperHDR</a></th>
      <td>✅</td>
      <td>❌</td>
    </tr>
    <tr>
      <th>Change screensaver, wallpaper, etc.</th>
      <td>✅</td>
      <td>❌</td>
    </tr>
    <tr>
      <th>Remapping remote control buttons</th>
      <td>✅</td>
      <td>❌</td>
    </tr>
    <tr>
      <th>Install latest firmware updates</th>
      <td><a class="text-decoration-none" href="#root-fw-update">ℹ️<sup>2</sup></a></td>
      <td>✅</td>
    </tr>
    </tbody>
  </table>
  <p>
    <sup id="dev-timer-renew">1</sup> Renew steps can be done automatically.
    <br>
    <sup id="root-fw-update">2</sup> Practically, rooted devices can install latest firmware updates.
    Theoretically, root can be persistent across updates. But it's not guaranteed.
  </p>
</div>