{{#*inline "content"}}
  <style>
    table.exploits tbody td {
      text-align: center;
    }
  </style>
  <h1>Rooting</h1>
  <p class="lead">
    Decide whether to root your device.
  </p>
  <div class="callout callout-warning my-2" role="alert">
    <div class="callout-title">
      <i class="bi bi-exclamation-triangle me-2"></i> Warning!
    </div>
    <p class="pt-2">
      Rooting your TV via software methods is generally safe, and having no consequences even if it fails.<br>
      However, reckless changes to the system can brick your TV, if you don't have proper knowledge and ignore
      <a href="https://rootmy.tv/warning">warnings</a>.
    </p>
  </div>
  {{> rooted-vs-devmode }}
  <section>
    <h2>Can I root my TV?</h2>
    <hr>
    <div class="callout callout-important my-2" role="alert">
      <div class="callout-title">
        <i class="bi bi-info-circle me-2"></i>Notice
      </div>
      <p class="pt-2">
        Rooting methods are constantly being patched. This info may not be up-to-date.
      </p>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered exploits">
        <thead>
        <tr>
          <th class="text-nowrap">webOS version</th>
          <th class="text-center"><a href="#rootmytv">RootMy.TV</a></th>
          <th class="text-center"><a href="#crashd">crashd</a></th>
          <th class="text-center"><a href="#wta">WTA</a></th>
          <th class="text-center"><a href="#getmenow">GetMeNow</a></th>
          <th class="text-center"><a href="#dejavuln">DejaVuln</a></th>
          <th class="text-center"><a href="#nvm">NVM</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1.x</th>
          <td rowspan="2">❌<br>Not supported</td>
          <td rowspan="4">❌<br>Not supported</td>
          <td rowspan="6">❌<br>Not supported</td>
          <td rowspan="4">🩹<br>Patched</td>
          <td rowspan="3">❌<br>Not supported</td>
          <td rowspan="4">✅<br>Supported</td>
        </tr>
        <tr>
          <th>2.x</th>
        </tr>
        <tr>
          <th>3.0~3.4</th>
          <td rowspan="6">🪦<br>Patched, very unlikely to work</td>
        </tr>
        <tr>
          <th>3.5~3.9</th>
          <td rowspan="7">⌛<br>Being patched</td>
        </tr>
        <tr>
          <th>4.0~4.4</th>
          <td rowspan="6">🪦<br>Patched, very unlikely to work</td>
          <td rowspan="6">❌<br>Not supported</td>
          <td rowspan="6">❌<br>Not supported</td>
        </tr>
        <tr>
          <th>4.5~4.10</th>
        </tr>
        <tr>
          <th>5.x</th>
          <td rowspan="4">🩹<br>Patched</td>
        </tr>
        <tr>
          <th>6.x</th>
        </tr>
        <tr>
          <th>7.x</th>
          <td rowspan="2">❌<br>Not supported</td>
        </tr>
        <tr>
          <th>8.x</th>
        </tr>
        <tr>
          <th>9.x~</th>
          <td colspan="6">❌ Not rootable (yet)</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <h2>Rooting methods</h2>
    <hr>
    <h3 id="dejavuln" class="pt-3">DejaVuln</h3>
    <p>
      Works on webOS 3.5 and up. Patches are being rolled out, starting from recent models.
      <a href="https://github.com/throwaway96/dejavuln-autoroot">Download and instructions</a>.
    </p>
    <h3 id="wta" class="pt-3">WTA</h3>
    <p>
      Patched in recent updates. <a href="/rooting/wta">Instructions</a>
    </p>
    <h3 id="crashd" class="pt-3">crashd</h3>
    <p>
      <a href="https://gist.github.com/throwaway96/e811b0f7cc2a705a5a476a8dfa45e09f">Patched in April 2024</a>.
    </p>
    <h3 id="rootmytv" class="pt-3">RootMy.TV</h3>
    <p>
      Patched in mid-2022.
    </p>
    <h3 id="getmenow" class="pt-3">GetMeNow</h3>
    <p>
      Works on some models running webOS 1~3.
      <a href="/rooting/getmenow">Instructions</a>
    </p>
    <h3 id="nvm" class="pt-3">NVM</h3>
    <div class="callout callout-danger my-2" role="alert">
      <div class="callout-title">
        <i class="bi bi-exclamation-octagon me-2"></i> Caution!
      </div>
      <p class="pt-2">
        This method requires opening up your TV. You may <b>damage your TV permanently</b> without proper knowledge.
        Also, some components may have high voltage, <b>which can be fatal</b>. Proceed with great caution.
      </p>
    </div>
    <p>
      Alternatively, <code>DEBUG</code> flag can be modified via <a
        href="https://gist.github.com/throwaway96/827ff726981cc2cbc46a22a2ad7337a1">hardware modification</a> to gain
      root access for pre-webOS 4.0 models.
    </p>
  </section>
{{/inline}}
{{> page title="Rooting" }}