{{#> page title="Develop"}}
  <h1>Develop</h1>
  <hr>
  <!-- Layout plagiarized from Apple Developer -->
  <section class="rounded-4 bg-dark px-4 px-md-5 py-4 py-md-5">
    <h2 class="fw-semibold">Development resources</h2>
    <div class="row mt-2 g-3">
      <section class="col-12 col-md-4 pt-md-2">
        <i class="bi bi-tools display-4 text-primary-emphasis"></i>
        <h3 class="fw-semibold mt-2">Tools</h3>
        <p class="text-secondary">Get the tools you need to develop apps for webOS.</p>
        <ul class="list-inline">
          <li><a href="https://github.com/webosbrew/ares-cli-rs">CLI tools</a></li>
          <li><a href="https://github.com/webosbrew/native-toolchain/">Native SDK</a></li>
          <li><a href="https://github.com/webosbrew/dev-manager-desktop">webOS Dev Manager</a></li>
          <li class="d-none dev-only">All tools</li>
        </ul>
      </section>
      <section class="col-12 col-md-4 pt-md-2">
        <i class="bi bi-book display-4 text-primary-emphasis"></i>
        <h3 class="fw-semibold mt-2">Guides</h3>
        <p class="text-secondary">Learn how to develop apps for webOS.</p>
        <ul class="list-unstyled">
          <li><a href="/develop/guides/env-setup">SDK configuration</a></li>
          <li><a href="/develop/guides/web-app">Native app development</a></li>
          <li><a href="/develop/guides/native-app">Web app development</a></li>
          <li class="d-none dev-only"><a href="https://repo.webosbrew.org/submit">Publish to homebrew app repository</a>
          </li>
          <li><a href="/develop/guides">All guides</a></li>
        </ul>
      </section>
      <section class="col-12 col-md-4 pt-md-2">
        <i class="bi bi-code-slash display-4 text-primary-emphasis"></i>
        <h3 class="fw-semibold mt-2">References</h3>
        <p class="text-secondary">System API specifications and detailed documentation.</p>
        <ul class="list-unstyled">
          <li><a href="https://www.webosbrew.org/pages/luna-service-bus">Luna services</a></li>
          <li><a href="https://www.webosbrew.org/webos-userland/">Native API references</a></li>
          <li class="d-none dev-only">Package metadata</li>
          <li class="d-none dev-only">All references</li>
        </ul>
      </section>
    </div>
  </section>
  <section class="rounded-4 bg-dark px-4 px-md-5 py-4 py-md-5 mt-5">
    <h2 class="fw-semibold">Apps &amp; libraries</h2>
    <p>Open-source projects that's built with homebrew tools.</p>
    <div class="row mt-2 g-3">
      {{#> "develop/partials/highlight-card" title="Moonlight" href="https://github.com/mariotaku/moonlight-tv"}}
        SDL, Low latency A/V streaming, input handling, remote control navigation.<br>
        <small class="badge rounded-pill text-bg-secondary">GPLv3</small>
        <small class="badge rounded-pill text-bg-info ms-2">C/C++</small>
      {{/"develop/partials/highlight-card"}}
      {{#> "develop/partials/highlight-card" title="Kodi" href="https://github.com/xbmc/xbmc"}}
        Wayland, webOS media pipeline<br>
        <small class="badge rounded-pill text-bg-secondary">GPLv2</small>
        <small class="badge rounded-pill text-bg-info ms-2">C/C++</small>
      {{/ "develop/partials/highlight-card" }}
      {{#> "develop/partials/highlight-card" title="Chocolate Doom" href="https://github.com/webosbrew/chocolate-doom"}}
        Porting SDL2-based apps/games effortlessly.<br>
        <small class="badge rounded-pill text-bg-secondary">GPLv2</small>
        <small class="badge rounded-pill text-bg-info ms-2">C/C++</small>
      {{/ "develop/partials/highlight-card"}}
      {{#> "develop/partials/highlight-card" title="SDL2 Backport" href="https://github.com/webosbrew/SDL-webOS"}}
        Use latest SDL2 features on all webOS versions.<br>
        <small class="badge rounded-pill text-bg-secondary">Zlib license</small>
        <small class="badge rounded-pill text-bg-info ms-2">C/C++</small>
      {{/ "develop/partials/highlight-card"}}
      {{#> "develop/partials/highlight-card" title="SS4S" href="https://github.com/mariotaku/ss4s"}}
        Audio/video stream playback library for webOS.<br>
        <small class="badge rounded-pill text-bg-secondary">LGPL 3.0</small>
        <small class="badge rounded-pill text-bg-info ms-2">C/C++</small>
      {{/ "develop/partials/highlight-card"}}
    </div>
  </section>
  <section class="rounded-4 bg-dark px-4 px-md-5 py-4 py-md-5 mt-5 d-none dev-only">
    <h2 class="fw-semibold">Samples</h2>
    <div class="row mt-2 g-3">
    </div>
  </section>
{{/page}}