// Include functions first
@import "bootstrap/scss/functions";
// Customize some defaults
$primary: #cf0652;
$enable-negative-margins: true;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$brands: (
  "discord": #5865F2,
  "webosbrew": $primary,
) !default;

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $brands);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";


// Required
@import "bootstrap";

@import 'highlight.js/styles/github-dark.css';

@import "components/alert";
@import "components/blockquote";
@import "components/callout";

@import "page";

:root {
  --navbar-height: 65px;
  --code-bg: #111112;
}

html {
  scroll-padding-top: var(--navbar-height);
}


.d-none.dev-only {
  display: inherit !important;
  outline: 1px solid red !important;
}