// Include functions first
@import "bootstrap/scss/functions";
// Customize some defaults
$primary: #cf0652;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Required
@import "bootstrap";

@import 'highlight.js/styles/github-dark.css';

@import "components/alert";
@import "components/blockquote";
@import "components/callout";

@import "page";

:root {
  --navbar-height: 65px;
}

html {
  scroll-padding-top: var(--navbar-height);
}


.d-none.dev-only {
  display: inherit !important;
  outline: 1px solid red !important;
}